* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #4E4FEB;
  font-family: "Montserrat", sans-serif;
}

.box {
  background-color: transparent;
  border-radius: 3px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 350px;
  transform-style: preserve-3d;
  perspective: 2000px;
  transition: 0.4s;
  text-align: center;
}
.box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-top: 20px solid #fff;
  border-left: 20px solid #fff;
  box-sizing: border-box;
}
.box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 20px solid #fff;
  border-right: 20px solid #fff;
  box-sizing: border-box;
}
.box .fas {
  font-size: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px !important;
  background-color: #fff;
  color: #2c3a47;
}
.box .fa2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.box .text {
  position: absolute;
  top: 30px;
  left: -30px;
  width: calc(100% + 60px);
  height: calc(100% - 60px);
  background-color: #000000;
  border-radius: 3px;
  transition: 0.4s;
}
.box .text .fa1 {
  position: absolute;
  top: 0;
  left: 0;
}
.box .text div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  padding: 30px 60px;
  line-height: 1.5;
  box-sizing: border-box;
}
.box .text div h3 {
  font-size: 30px;
  margin-bottom: 5px;
}
.box .text div p {
  font-size: 15px;
}
.box:hover {
  transform: translate(-50%, -50%) rotateY(-20deg) skewY(3deg);
}
.box:hover .text {
  transform: rotateY(20deg) skewY(-3deg);
}
h3 span{
  background: linear-gradient(
    to right,
    #eae3fb 20%,
    #c1eb39 30%,
    #66ff00 70%,
    #D39D38 80%
);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
text-fill-color: transparent;
background-size: 500% auto;
animation: textShine 5s ease-in-out infinite alternate;
}
@keyframes textShine {
  0% {
      background-position: 0% 50%;
  }
  100% {
      background-position: 100% 50%;
  }
}
button {
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
  width: 100px;
  background-color: #068FFF;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 20px;
  border-color: white;
}
p{
  margin-top: 3em;
  margin-bottom: 2em;
  color: #EEEEEE;
}


.footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.floating-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #068FFF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 9999;
}

.user-image {
  width: 55px;
  height: 50px;
  border-radius: 50%;
}


/* Profile CSS */
